@import url(fonts.css);

* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --body_Bg:#F1F1F1;
    --logo_font:'Bold';
    --discount_Bg: #323232;
    --discount_font: 'Regular';
    --discount_color: #FFFFFF;
    --main__block-color: #E1E1E1;
    --main__h3: #000000;
}

body {
    background: var(--body_Bg);
    user-select: none;
}

/*header*/

.header__nav {
    padding-top: 30px;
}

.container {
    max-width: 1296px;
    width: 100%;
}

.header__nav .container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header__nav-list1 {
    max-width: 853px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-list2 {
    max-width: 264px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__nav-logo {
    color: #323232;
    font-family: var(--logo_font);
    font-weight: 700;
    font-size: 32px;
    text-transform: uppercase;
}

.header__nav-link {
    color: var(--discount_Bg);
    font-family: 'Regular';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

hr {
    max-width: 1320px;
    width: 100%;
    height: 2px;
    background: #323232;
    border-radius: 0.5px;
    margin-top: 20px;
    margin: 40px 0;
}

/*main*/

/*main__first*/

.main__first {
    margin: 0 auto 60px auto;
    column-gap: 25px;
    display: flex;
}

.main__first-block {
    background: var(--main__block-color);
    border-radius: 10px;
    width: 526px;
    min-height: 294px;
    display: flex;
    margin-bottom: 30px;
}

.main__discount {
    background: var(--discount_Bg);
    font-family: var(--discount_font);
    color: var(--discount_color);
    width: 123px;
    height: 49px;
    border-radius: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    margin: 16px 0 0 16px;
}

.main__first-part {
    display: flex;
    align-items: center;
}

.main__first-text {
    line-height: 30px;
    text-align: center;
}

.main__block-text {
    font-family: 'Regular';
    font-weight: 400;
    font-size: 16px;
    color: #323232;
}

h3 {
    font-family: 'Bold';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main__h3);
}

.main__first-right {
    max-width: 746px; 
    width: 100%;
    height: 618px;
    background-color: var(--main__block-color);
    border-radius: 10px;
    display: flex;
}

.main__first2-part {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 25px;
}

.main__first2-text {
    line-height: 50px;
    text-align: center;
}

.main__first-right h1 {
    font-family: 'Bold';
    font-weight: 700;
    font-size: 22px;
    line-height: 17px;
    text-transform: uppercase;
    color: #323232;
}


/*main__leaders*/

.main__leaders h1 {
    font-family: var(--discount_font);
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2.2px;
    text-transform: uppercase;
    color: var(--main__h3);
}

.main__cards {
    display: grid;
    grid-template-columns: 415px 415px 415px;
    grid-template-rows: 485px 485px 485px; 
    column-gap: 24px;
    row-gap: 40px;
}

.main__card {
    background: var(--main__block-color);
    border-radius: 10px;
    display: flex;
    text-align: center;
}

.main__card2 {
    background: var(--main__block-color);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
}

.main__link {
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 39px;
}

.main__card-text {
    font-family: 'Regular';
    font-weight: 400;
    font-size: 16px;
    color: #323232;
}

.main__card-btn {
    margin: 20px;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
}

.main__card-link {
    padding: 15px;
    border: none;
    width: 50px;
    height: 50px;
    background: var(--discount_color);
    border-radius: 10px;
}

.main__card h3 {
    font-family: 'Bold';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: var(--main__h3);
}

.main__leaders h2 {
    margin: 60px auto;
    font-family: 'Regular';
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #323232;
}